/*Import the 'Roboto Serif' font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@400&display=swap');

/* Apply 'Roboto Serif' font to all text within the chat widget */
.vfrc-system-response,
.vfrc-user-response,
.vfrc-message {
    font-family: 'Roboto Serif', serif;
    font-weight: 400;
    font-style: normal;
}
